{%- assign slider_classes = '' -%}

{% if include.show_arrow_navigation %}
  {%- assign slider_classes = slider_classes | append: ' slider--has-arrow-navigation' -%}
{% endif %}

{% if include.show_dots_navigation %}
  {%- assign slider_classes = slider_classes | append: ' slider--has-dots-navigation' -%}
{% endif %}

{% if include.autoplay_slider %}
  {%- assign slider_attributes = slider_attributes | append: ' data-slider-autoplay="true"' -%}
{% endif %}

{% if include.mousedrag_slider %}
  {%- assign slider_attributes = slider_attributes | append: ' data-slider-mousedrag="true"' -%}
  {%- assign slider_classes = slider_classes | append: ' slider--has-mousedrag-navigation' -%}
{% endif %}

<section
  class="hero-slider hero-slider--{{ section.id }}{% if include.move_top == true %} hero-slider--move-top{% endif %}"
>
  <div class="wrapper">
    <div class="hero-slider__inner">
      <div class="hero-slider__grid">
        <div class="grid grid--waffle">
          <div class="grid__column grid__column--middle grid__column--12 grid__column--6@md">
            <div class="hero-slider__content-wrapper wrapper">
              <div class="">
                {% include snippets/logo.liquid class="hero-slider__logo-image" %}
              </div>

              <div class="hero-slider__title">
                <h2 class="hero-slider__heading">{{ include.heading }}</h2>
              </div>

              <div class="hero-slider__cta">
              {% if include.button_text %}
                  <a
                    href="{{ include.button_link }}"
                    class="button button--primary button--radius"
                    target="_blank"
                  >
                    {% include snippets/whatsapp.svg %}
                    {{ include.button_text }}
                  </a>
              {% endif %}
              </div>
            </div>
          </div>
          <div class="grid__column grid__column--12 grid__column--6@md">
            <a class="hero-slider__image" target="_blank" href="{{ include.image_link }}">
              <div class="image image--regular">
                <div class="image__object image__object--color">
                  <div class="image__inner">
                    <img src="{{ include.image | asset_img_url: 'large' }}" alt="">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>